[General]
activationHasRun=true
autoConfig=false
autoConfigPrompted=true
autoConfigServer=
autoHide=false
configFile={{ ansible_env.HOME }}/.config/Synergy/Synergy.conf
cryptoEnabled=true
edition=0
elevateMode=false
elevateModeEnum=0
groupClientChecked=false
groupServerChecked=true
interface=
language=en
lastExpiringWarningTime=0
lastVersion={{ synergy_version }}
logFilename=/var/log/synergy.log
logLevel=3
logLevel2=0
logToFile=false
port={{ synergy_port }}
screenName={{ ansible_hostname }}
serialKey={{ synergy_serialkey }}
serverHostname={{ ansible_default_ipv4['address'] }}
startedBefore=true
useExternalConfig=false
useInternalConfig=true
wizardLastRun=8
